/* Arrow */
.arrow {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #ff0000;
  animation: bounce 1s infinite ease-in-out;

  /* animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entrty 0% 100%; */
}
/* 
@keyframes appear {
  from { opacity: 0; scale: 0.5; }
  to { opacity: 1; scale: 1; }
} */

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(12px); }
}