/* Responsive */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      padding: 15px;
  }
  nav a {
      margin-left: 10px;
      font-size: 14px;
  }
  .banner-text h2 {
      font-size: 36px;
  }
  .banner-text p {
      font-size: 16px;
  }
  .content-box {
      padding: 20px;
  }
}

@media (max-width: 480px) {
  header h1 {
      font-size: 24px;
  }
  nav a {
      font-size: 12px;
  }
  .banner-text h2 {
      font-size: 28px;
  }
  .banner-text p {
      font-size: 14px;
  }
}