.scroll-container {
  width: 100%;
  overflow: hidden;
  /* background: #000; */
  padding: 20px 0;
}

.scroll-content {
  display: flex;
  gap: 20px;
  animation: scroll-left 10s linear infinite;
}

.scroll-content img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

/* Hover effect (optional) */
.scroll-content img:hover {
  transform: scale(1.1);
}

/* Linear repeat animation */
@keyframes scroll-left {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}






/* Animation for Certificates */

.scroll-cer {
    width: 100%;
    overflow: hidden;
    /* background: cyan; */
    padding: 20px 0;
}

.scroll-contentcer {
    display: flex;
    gap: 20px;
    animation: scroll-left 9s linear infinite;
}

.scroll-contentcer img {
    width: 900px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}

/* Hover effect */
.scroll-contentcer img:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(0, 221, 255, 0.9);
    border-radius: 40px 0px;

}

/* Linear repeat animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}